
#title,#about-name{
    display: grid;
    grid-template-columns: 60% 1fr;
    padding:2em 2em;
}
    #title .text-part,
    #about-name .text-part{
        padding: 5em 4em;
    }

    #title .image img,
    #about-name .image img{
        max-width: 100%;
        max-height: 100%;
        display: block;
        opacity: .8;
    }

    #title .image img{
        scale: 1.2;
    }
    
#about-name{
    /* background-color: red; */
    grid-template-columns: 1fr 60%;
    gap: 2em;
    padding-left: 5em;
}

    #about-name .image{
        display: grid;
        place-items: center;
    }

    #about-name .heading{
        font-size: 3rem;
    }
    #about-name .paragraph{
        max-width: 33ch;
        margin:  0 0 0 auto;
    }



#younger{
    padding: 1em;
    padding-top: 250px;
}
    #younger .image{
        position: relative;
        padding: 2em 0;
    }

    #younger .image .ufo{
        position: absolute;
        /* display: none; */
        top: -150px;
        left: 50%;
        /* background-color: red; */
        transform: translate(-35%);
        animation: ufo 10500ms ease infinite;
        /* background-color: red; */
        /* transform-origin: bottom center; */
    }


    #younger .text-part .paragraph{
        max-width: 45ch;
        line-height: 95%;
    }

    @keyframes ufo {

        0%{
            left: calc(50% - 300px);
            rotate: 5deg;
        }
        50%{
            left: calc(50% + 200px);
            rotate: -25deg;
            top: -325px;
        }
        100%{
            left: calc(50% - 300px);
            rotate: 5deg;

        }
        
    }

#moms{
    display: grid;
    grid-template-columns: 50% 1fr;
    padding: 3em;
    gap:2em;
}
    #moms .heading-small{
        margin: .2em 0;
    }
    #moms .text-part{
        padding: 2em;
    }
    #moms .text-part .paragraph{
        font-size: var(--fs-400);
    }

    #moms .image img{
        max-width: 100%;
        max-height: 100%;
        display: block;
    }

#negative{
    margin: 5em 0;
}

    #negative .top-text{
        background-color: #6d4b8321;
        max-width:85ch;
        padding: 1em 2em;
       
    }

    #negative .top-text .paragraph{
        color: white;
    }

    #negative .top-text .paragraph, #negative .bottom-text .paragraph{
        font-size: var(--fs-500);
    }
    
    #negative .bottom-text{
        max-width:65ch;
    }

    #negative img{
        margin: 3em auto;
        display: block;
    }

#friends{
     margin: 1em;
}

    #friends .image img{
        padding: 2em;
        height: 60%;
        width: 60%;
        display: block;
    }