
#title,#about-name{
    display: grid;
    grid-template-columns: 60% 1fr;
    padding:2em 2em;
}
    #title .text-part,
    #about-name .text-part{
        padding: 5em 4em;
    }

    #title .image img,
    #about-name .image img{
        max-width: 100%;
        max-height: 100%;
        display: block;
        opacity: .8;
    }

    #title .image img{
        scale: 1.2;
    }
    
#about-name{
    /* background-color: red; */
    grid-template-columns: 1fr 60%;
    gap: 2em;
    padding-left: 5em;
}

    #about-name .image{
        display: grid;
        place-items: center;
    }

    #about-name .heading{
        font-size: 3rem;
    }
    #about-name .paragraph{
        max-width: 33ch;
        margin:  0 0 0 auto;
    }



#younger{
    padding: 1em;
    padding-top: 250px;
}
    #younger .image{
        position: relative;
        padding: 2em 0;
    }

    #younger .image .ufo{
        position: absolute;
        /* display: none; */
        top: -150px;
        left: 50%;
        /* background-color: red; */
        transform: translate(-35%);
        animation: ufo 10500ms ease infinite;
        /* background-color: red; */
        /* transform-origin: bottom center; */
    }


    #younger .text-part .paragraph{
        max-width: 45ch;
        line-height: 95%;
    }

    @keyframes ufo {

        0%{
            left: calc(50% - 300px);
            rotate: 5deg;
        }
        50%{
            left: calc(50% + 200px);
            rotate: -25deg;
            top: -325px;
        }
        100%{
            left: calc(50% - 300px);
            rotate: 5deg;

        }
        
    }

#moms{
    display: grid;
    grid-template-columns: 50% 1fr;
    padding: 3em;
    gap:2em;
}
    #moms .heading-small{
        margin: .2em 0;
    }
    #moms .text-part{
        padding: 2em;
    }
    #moms .text-part .paragraph{
        font-size: var(--fs-400);
    }

    #moms .image {
        position: relative;
    }
    #moms .image img{
        max-width: 100%;
        max-height: 100%;
        display: block;
    }
    #moms .image .rockets{
        position: absolute;
        top: 200px;
        transform: scale(1.7);
        right: -220px;
    }

#negative{
    margin: 5em 0;

}

    #negative .top-text{
        background-color: #6d4b8321;
        max-width:85ch;
        padding: 1em 2em;
       
    }

    #negative .top-text .paragraph{
        color: white;
    }

    #negative .top-text .paragraph, #negative .bottom-text .paragraph{
        font-size: var(--fs-500);
    }
    
    #negative .bottom-text{
        max-width:65ch;
    }

    #negative img{
        margin: 3em auto;
        display: block;
    }

#friends{
     /* margin: 1em; */
     padding: 1em;
    background-color: #170a1fb6;

}

    #friends .image img{
        padding: 2em;
        height: 60%;
        width: 60%;
        display: block;
    }


#qa{
    margin-top: 200px;
}

    #qa .section-header{
        background-color: #3E2F4C;
        padding: 2em;
        border-bottom: 5px dashed var(--blue);
    }


.answer-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    justify-content: center;
    gap: 1em;
    padding: 20px 150px;
    position: relative;
    height: fit-content;
    
}
    .answer-card{
        /* background-color: red; */
        position: relative;
        /* overflow: hidden; */
        perspective: 2500px;
        /* width: 300px; */
        aspect-ratio: 3/4;
    }

    

        .answer-card .heading-small{
            font-size: 1.8rem;
        }

        .answer-card .paragraph{
            /* white-space: normal; */
            /* word-break: break-all; */
        }

        .answer-card .card{
            background-color: #6D4B83;
            border-radius: 1em;
            padding: .7em;
            aspect-ratio: 3 /4;
            border: 3px solid white;
            
            position: absolute;
            -webkit-backface-visibility: hidden; /* Safari */
            backface-visibility: hidden;
            width: 100%;
            height: 100%;
          
        }

        .answer-card .inner-card{
            width: 100%;
            height: 100%;
            position: relative;
            transition: transform .5s;
            transform-style: preserve-3d;
        }

        .answer-card:hover .inner-card{
            transform: rotateY(180deg);
        }

        .answer-card .card.answer{
            transform: rotateY(180deg);
            background-color: #3E2F4C;
            border: 4px solid var(--blue);
        }
            .answer-card .card.answer .heading-small{
                margin: .2em 0;
            }
            .answer-card .card.answer .paragraph{
                padding: 0;
                font-size: 1.2rem;
            }
            
        .answer-card .card.question{
            /* transform: rotateY(180deg); */
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-direction: column;
        }
        .answer-card .card.question .heading-small{
            color:var(--blue);
        }

        .answer-card .card.question .paragraph{
            color:  white;
        }



.decor .const{
    top: 180px;
    left: 90px;
    transform: scale(.8);
}