
#all-time{
    margin: 4em 3.2em;
}

#all-time .list-container{
    /* width: 100%; */
    /* background-color: red; */

    display: flex;
    /* flex-wrap: wrap; */
    gap: 1.1em;
    padding: 1em 1em;
    white-space: nowrap;
  
    margin: 4em 0 ;
}

    #all-time .list-container .list-item{
       background-color: var(--darkerPurple);
       border-radius: .51em;
       aspect-ratio: 2/3;
       height: 100%;
       transition: all 250ms ease;
       overflow: hidden;
       filter: brightness(50%);
       cursor: pointer;
    }

    #all-time .list-container .list-item img{
        -khtml-user-select: none;
        -o-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
     }

    #all-time .list-container .list-item:hover{
        transition: all 550ms ease;
        /* transform: scale(2, 1.1); */
        box-shadow: 2px 2px 2px black;
        outline: 2px solid purple;
        z-index: 50;
        scale: 1.05;
        filter: brightness(100%);

     }


     
     #all-time .show-info .info:not(.hidden) {
         width: min(800px, 80vw);
         aspect-ratio: 5/3;
         position: fixed;
         top: 50%;
         left: 50%;
         translate: -50% -50%;
         z-index: 5000;
         background-color: #34253E;
         opacity: 1;
         backdrop-filter: blur(200px);
         border-radius: 1em;
         font-weight: bold;

        animation:  scale-up .25s cubic-bezier(.17,.67,.86,1.4) forwards;
        transform-origin: center;
     }

            
      @keyframes scale-up {
         from{
            transform: scale(0);
         }
         to{
            transform: scale(1);
         }
      }

     

     #all-time .info{
        padding: 3em;
     }

     #all-time .info .btn{
        background-color: var(--lightPurple);
        font-size: 1.5rem;
        color: var(--darkPurple);
     }
     
     
     #all-time .info .info-content{
        display: flex;
        gap: 2em;
        height: 100%;
        padding: 1em;
     }

    
            #all-time .info .info-content .paragraph{
               font-size: var(--fs-400);
            }

               #all-time .info .info-content .heading-small{
                  font-size: min(2rem,25vw);
               }

            #all-time .info .info-content .image{
               height: 100%;
               aspect-ratio: 3/4.2;
            }
            #all-time .info .info-content .image img{
               /* background-color: green; */
               border-radius: 2vmin;
            }



#best{
   /* background-color: red; */
}

   #best .best-nav{
      display: flex;
      justify-content: space-around;
      max-width: 60%;
      margin: 25px auto;
      background-color: #2C2730;
      border-radius: 2em;

   }

   #best .best-nav .btn{
      color: white;
      padding: .5em 3em;
   }

   #best .best-nav .btn.selected{
      background-color: var(--saturatePurple);
   }

   #best .best-page{
      padding: 2em;
      height: 500px;
   }

   #best .best-page .page-content{
      display: grid;
      grid-template-columns: 400px 1fr;
      justify-content: start;
      height: 100%;
      gap: 2em;
      margin: 1.4em 0;
   }
   #best .best-page .page-content .paragraph{
      font-size: 100%;
   }
   #best .best-page .page-content .image{
      aspect-ratio: 3/4;
   }
   #best .best-page .page-content .image img{
      width: 400px;
   }


#read-list{
   margin: 2em;
   margin-top: 500px;
   padding: 2em;
   display: grid;
   grid-template-columns: 1fr 300px 300px;
   gap: 1em;
   padding-right: 0;
}
   #read-list .list{
      width: 100%;
   }

   @media screen and (max-width:800px){
      #read-list{
         display: flex;
         flex-wrap: wrap;
      }
   }
   #read-list .listing{
      overflow-x: hidden;
      max-height: 300px;
      background-color: rebeccapurple;
      opacity: .8;
      border-radius: 1em;
   }
   
   #read-list .listing{
      color: white;
      font-family: var(--mainFont);
      font-size: .8rem;
   }
   
   #read-list .list .heading-small{
      margin: .4em 0;
      background-color: rgb(142, 84, 199);
      padding: .5em .9em;
      border-radius: 1em 0 0 1em;
      text-align: right;
      font-size: var(--fs-500);
   }

   #read-list .list:nth-child(2) .heading-small{
      background-color: rgb(89, 89, 251);
   }
   #read-list .list:nth-child(3) .heading-small{
      background-color: rgb(251, 89, 94);
   }



#spotify{
   padding: 2em;
}


   #spotify .playlist{
      display: grid;
      grid-template-columns: 220px 1fr;
      gap: 1em;
      height: 420px;
      padding: 1em;
   }

      #spotify .playlist .track-list{
         background-color: #311D3E;
         box-shadow: 0px -1px 14px -1px rgba(0, 0, 0, 0.25);

      }

      #spotify .playlist .player, #spotify .playlist .track{
         background-color: #34253E;
         display: flex;
         flex-direction: column;
         align-items: center;
         padding: 1em 0;
         gap: .4em;
         box-shadow: 0px -1px 14px -1px rgba(0, 0, 0, 0.25);

      }
      #spotify .playlist .track .audiop .fa-play,
      #spotify .playlist .player .audiop .fa-play{
         text-indent: 4px;
      }
      #spotify .playlist .player .audiop .fa-pause{
         text-indent: -2px;
         display: none;
      }
      
      #spotify .playlist .track .image,
         #spotify .playlist .player .image{
         width: 200px;
         aspect-ratio: 1/1;
         margin-bottom: .2em;
         box-shadow: 0px -1px 14px -1px rgba(0, 0, 0, 0.25);
      }

      #spotify .playlist .track .heading-small,
         #spotify .playlist .player .heading-small{
         font-size: 1.4rem;
      }
      #spotify .playlist .track .paragraph,
         #spotify .playlist .player .paragraph{
         padding: 0;
         font-size: .9rem;
         
      }

      #spotify .playlist .track .audiop,
         #spotify .playlist .player .audiop{
         aspect-ratio: 1/1;
         width: 25px;
         color: #34253E;
         background-color: #D7B7FF;
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 2rem;
         text-indent: 4px;
         scale: .8;
      }
      
      #spotify .playlist .player .audiop.played .fa-play{
         display: none;
      }
      #spotify .playlist .player .audiop.played .fa-pause{
         display: block;
      }


      #spotify .track-list{
         display: flex;
         padding: 1em;
         margin: .3em;
         border-radius: 1em;
         overflow-x: auto;
         gap: 1em;
      }

      #spotify .playlist .track{
         border-radius: 1em;
         padding-top: 0;
         background-color: #463153;
      }

      #spotify .playlist .track .heading-small{
         white-space: nowrap;
      }
      #spotify .playlist .track .heading-small,
      #spotify .playlist .track .paragraph{
         text-align: left;
         width: 80%;
      }

         #spotify .track-list .track .image{
            scale: .9;
            border-radius: .5em;
            overflow: hidden;
            aspect-ratio: 1/1;
         }

   #spotify .idle{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2em;
      margin: 100px 0;
   }

.music-fav{
   padding: 3em;
   margin-top: 100px;
}

   .music-fav .paragraph{
      font-size: 1.3rem;
   }

   .music-fav .main-heading{
      text-align: center;
      font-size: 4rem;
      margin: 0;
      padding: 0;
      line-height: 80%;
      color: #DF2020;
   }
   .music-fav .blue{
      color: #61D0FF;
   }

   .music-fav .main-image{
      min-height: 380px;
   }

      .music-fav .main-image .artist-name{
         position:absolute;
         z-index: 100;
         left: 0;
         bottom: 0;
         scale: .85;
      }


#revel .psycho{
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin: 100px 0;
   align-items: flex-end;
   gap: 2em;
}
   #revel .psycho .image{
      min-height: 320px;
   }

   .music-fav .best-song{
      display: grid;
      grid-template-columns: 1fr 1fr;
      max-width: 70%;
      margin: 100px auto;
      gap: -2em;
   }

   .music-fav .best-song .image{
      height: 300px;
      aspect-ratio: 1/1;
   }


   #revel .lore .images{
      display: grid;
      grid-template-columns: 1fr 1fr;
      max-width: 80%;
      margin: 0 auto;
      height: 400px;
   }

   #revel .lore .paragraph{
      background-color: #342443;
      padding: 1em;
      max-width: 65ch;
      margin: 0 auto;
   }


#sefim .best-song {
   gap: 2em;
}


   #sefim .debut{
      display: grid;
      grid-template-columns: 400px 1fr;
      height: 500px;
      align-items: center;
   }

   #sefim .debut .image{
      /* background-color: green; */
   }

   #sefim .debut .image img{
      width: 700px;
   }

   #sefim .debut .text-part .paragraph{
      background-color: #34253E;
      padding:1.2em;
   }

   #sefim .garam{
      display: grid;
      grid-template-columns: 1fr 400px;
      padding: 1em;
      max-width: 85%;
      margin: 0 auto;
      align-items: center;
      justify-content: center;
   }

   #sefim .garam .image{
      height: 500px;
   }

   #sefim .garam .paragraph{
      background-color: #34253E;
      padding:1.2em;
   }