
body{
    overflow: hidden;
}
main{
    padding-bottom: 0;
    background: url(../media/image/background/flower.jpg);
}

nav{
    position: absolute;
    z-index: 100;
    width: 100vw;
    height: initial;
}

nav .navigation li a, nav .action .btn, nav .action, nav .action i{
    font-size: min(1vw, .8rem);
}



#book{

    overflow: hidden;
    perspective: 1000px;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;

    background: url('../media/image/background/plaid-2.png'), rgba(72, 47, 82, 0.603);
    background-size: 20vmin 20vmin;
    background-blend-mode: multiply;
    animation: bg-anim 255s linear infinite;
}
@keyframes bg-anim {
    from{
        background-position: 0% 0%;
    }
    to{
        background-position: 300% -300%;

    }
}

#book .page{
    background-color: white;
    width: 50vw;
    box-shadow: inset 1em 1em 50px rgba(149, 108, 161, 0.192);
    background-image: url('../media/image/background/note.png');
    background-size: 120vmin 120vmin;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    overflow: hidden;
}



#book .page .decor{
    position: absolute;
    top: 0;
    left: 0%;
    max-height: 100%;
    max-width: 100%;
    height: 100vh;
    width: 50vw;
    /* background-color: rgba(0, 128, 0, 0.199); */
    pointer-events: none;
    user-select: none;
}

#book .page .decor .ring{
    position: absolute;
    top: 50%;
    right: -2.5vw;
    z-index: 20;
    transform: translate(-50%,-50%);
    /* background-color: #DDCEFD; */
    width: 5vw;
    height: 80vh;

}
#book .page.odd .decor .ring{
    top: 50%;
    left: 2.5vw;
    transform: translate(-50%,-50%) rotateY(-180deg);
    transform-origin: 50% 100%;

}

#book .page .decor .page-div{
    position: absolute;
    top: 0%;
    right: 0;
    width: 2.1vw;

}
#book .page.odd .decor .page-div{
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
   
}



#book .cover{
    width: 100vw;
    background:rgb(192, 161, 227);
    background-size: 20vmin 20vmin;
    background-blend-mode: multiply;
    box-shadow: inset .4em .41em 50px rgba(62, 32, 71, 0.226);
    
}

.controls{
    position:fixed;
    height: 0;
    display: block;
    width: 100vw;
    top: 50%;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

    .controls .btn{
        background-color: rgba(88, 0, 139, 0.425);
        width: 3vw;
        height: 30vh;
        color: white;
        font-family: var(--mainFont);
        opacity: .1;
        font-size: 2.5vw;
        padding: initial;
    }
    .controls .btn:hover{
        opacity: 1;
        transition: all 250ms ease;
    }


#book .cover.front{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3em;
}

    #book .cover.front .heading{
        padding: .1em .5em;
        font-size: 3vw;
    }

    #book .cover.front img{
        width: 35vw;
        filter: brightness(120%);
    }

    #book .cover.front .nametag{
        min-height: 25vh;
        background-color: #E5CAFF;
        border: .3vw dashed #C8A5F4;
        width: 30vw;
        border-radius: 1vw;
        text-align: center;
        padding: 2em 1em;
        padding-top: 4vh;
    }

    #book .cover.front .nametag h2{
        font-size: 2.7vw;
        margin: 0;
        line-height: 80%;
        color: var(--darkerPurple);
    }

    #book .cover.front .nametag h2:nth-child(3){
        font-size: 2vw;
    }
    

    #book .cover.front .nametag hr{
        font-weight: bold;
        margin: .5em auto;
        margin-bottom: 3vh;
        border: none;
        max-width: 50%;

        border-bottom: .25vw solid #C8A5F4;
        border-radius: 2em;
    }
    #book .cover.cover.front .nametag hr:nth-child(2){
        max-width: 75%;
    }



.panel-dark{
    background: #6D4B83;
}

.shadow{
    box-shadow: -.4vw .5vw 1vw rgba(0, 0, 0, 0.25);
}

.pic-border{
    border: .4vw solid white;
}
.panel-border{
    border: .4vw dashed var(--border-color);
}

.pb-lightPurple{
    border: .4vw dashed #a38cc2 ;

}




.page.baby .pics {
    display:flex;
    gap: 4vh;
    flex-direction: column;
}

    .page.baby .pics img{
        max-height: 32vh;
        object-fit: cover;
    }
    .page.baby .pics .bottom{
        display: flex;
        justify-content: center;
        gap: 4vw;
    }


.tilt-l{
    rotate: -2deg;
}

.tilt-r{
    rotate: 2deg;
}

.page.baby-second .pics img{
    max-height: 32vh;
}

.page.baby-second .pics{
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 3vh;
}
.page.baby-second .pics .top{
    display: flex;
    gap: 4vw;
    margin: 2vh;
}

.mg2vh{
    margin: 2vh;
}


.page.section-name .heading{
    font-size: 5vw;
    padding: 1vh 3vw;
}

.page.childhood .page-content img{
    max-height: 28vh;
}

.page.childhood .page-content{
    display: grid;
    grid-template-columns:1fr 1fr;
    padding: 5vw;
    align-items: center;
    
}
.page.childhood .page-content .left img:first-child{
    margin-bottom: 2vh;
}


.img-mw{
    max-width: 30vw;
}
.img-mh{
    max-width: 40vh;
}


.page.baby-third .pics{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    gap: 5vh;
    /* background-color: red; */
    height: 100%;
    padding: 5vw;
}

.page.japan .pics{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    gap: 5vh;
    /* background-color: red; */
    height: 100%;
    padding: 5vw;
    margin: 0 auto;
}

.page.japan .pics .pic{
    display: flex;
    flex-direction: column;
    gap: 10vh;
}

.page.japan .text-part{
    background-color: #C8A5F4;
    position: absolute;
    top: 36vh;
    left: 14vw;
    padding: 1vh 1vw;

}

.page.japan .text-part p{
    font-size: 2.5vmin;
}



.page.baby-fourth .pics{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap:5vw;
    padding: 10vw;
}
.page.baby-fourth .pics img{
    max-width: 15vw;
}


.page.baby-fifth .pics{

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;

}

.page.baby-fifth .pics img{
    max-width: 30vw;
}

.page img:hover{
    transform: scale(1.4);
    transition: all 450ms ease;
    z-index:5000;
    position: relative;
}
.page img{
    transition: all 450ms ease;
}


.page.freeze{
    display: flex;
    flex-direction: column;
    gap: 5vh;
}


.page.freeze .text-part{
    max-width: 40vw;
    background-color: #E5CAFF;
    padding: 2vh 2vw;
    border: .45vw dashed white;
}

.page.freeze .pics img{
    filter: drop-shadow(-.21vw .21vw .5vw rgba(0, 0, 0, 0.218));
}

.page.freeze .text-part p{
    font-size: 2vw;
}