
.heading,heading-small{
    color: var(--blue);
}

.small-hr{
    max-width: 140px;
    border-radius: 2em;
}

#title{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3em;
    margin-top: 100px;
}
    #title img{
        max-height: 80%;
    }


#second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
    margin: -200px 2em;
}
    #second .top-const,
    #second .bottom-const{
        max-height: 300px;
    }

    #second .bottom-const{
        transform: scaleX(-1);
        align-self: flex-start;
        margin-left: 3em;
    }

    #second .paragraph{
        max-width: 55ch;
    }

    #second .nyan-cat{
        position: absolute;
        /* background-color: gainsboro; */
        width: 100%;
        display: flex;
        margin-left: -750px;
    }

        #second .nyan-cat img{
            max-height: 250px;
            display: block;
        }

        #second .nyan-cat img:nth-child(2){
            transform: scaleX(-1);
            margin-left: 750px;
        }
        #second .nyan-cat img:nth-child(1){
            /* margin-right: 50px; */
        }


#game-nav{
    margin-top: 150px;
    padding: 3em;
}

    #game-nav .games{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2em;
    }

    #game-nav .games .game{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* background-color: #4414463b; */
        /* padding:.1em; */
    }
    #game-nav .games .game .game-title{
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0;
        text-align: center;
    }

    #game-nav .games .game .btn{
        font-size: 1.4rem;
        margin: .2em 0;
        border-radius: .1em;
    }
    
    #game-nav .games .game .image{
        border-radius: 1em;
        height: 280px;
        aspect-ratio: 1 / 1;
        background-color: var(--purple);
        position: relative;
    }
    #game-nav .games .game img{
        position: absolute;
        height: 100%;
        width: 100%;
        display: block;
        top: 0;
        left: 0;
    }