
.heading,heading-small{
    color: var(--blue);
}

.small-hr{
    max-width: 140px;
    border-radius: 2em;
}
main{
    min-height: 20000px;
}

.paragraph{
    font-size: var(--fs-450);
    color: #6D4B83;
}

#title{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3em;
    margin-top: 100px;
}
    #title img{
        max-height: 80%;
    }


#second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
    margin: -200px 2em;
}
    #second .top-const,
    #second .bottom-const{
        max-height: 300px;
    }

    #second .bottom-const{
        transform: scaleX(-1);
        align-self: flex-start;
        margin-left: 3em;
    }

    #second .paragraph{
        max-width: 55ch;
    }

    #second .nyan-cat{
        position: absolute;
        /* background-color: gainsboro; */
        width: 100%;
        display: flex;
        margin-left: -750px;
    }

        #second .nyan-cat img{
            max-height: 250px;
            display: block;
        }

        #second .nyan-cat img:nth-child(2){
            transform: scaleX(-1);
            margin-left: 750px;
        }
        #second .nyan-cat img:nth-child(1){
            /* margin-right: 50px; */
        }


#game-nav{
    margin-top: 150px;
    padding: 3em;
}

    #game-nav .games{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2em;
    }

    #game-nav .games .game{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* background-color: #4414463b; */
        /* padding:.1em; */
    }
    #game-nav .games .game .game-title{
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0;
        text-align: center;
    }

    #game-nav .games .game .btn{
        font-size: 1.4rem;
        margin: .4em 0;
        border-radius: .1em;
    }
    
    #game-nav .games .game .image{
        border-radius: 1em;
        height: 280px;
        aspect-ratio: 1 / 1;
        background-color: var(--purple);
        position: relative;
    }
    #game-nav .games .game img{
        position: absolute;
        height: 100%;
        width: 100%;
        display: block;
        top: 0;
        left: 0;
    }


#game-title{
    background-color: #311D3E;
    display: flex;
    flex-direction: column;
}

    #game-title img{
        max-height: 140px;
        object-fit: contain;
        margin: .4em 0;
    }
    #game-title  .paragraph{
        max-width: 55ch;
        margin: 0 auto;
    }


#game-gallery{
    margin: 4em;
    /* background-color: red; */
    height: 450px;
    
}

    #game-gallery .gallery{
        display: grid;
        justify-content: center;
        grid-template-columns: 2fr 3fr;
        width: 100%;
        height: 100%;
        gap: 2em;
        max-width: 70%;
        margin:  0 auto;
    }

    #game-gallery .gallery.right{
        grid-template-columns: 3fr 2fr;
    }

    #game-gallery .gallery .gallery-item{
        /* background-color: var(--blue); */
        border: 3px solid white;
        width: 100%;
        height: 100%;
        position: relative;
    }

    #game-gallery .gallery .gallery-item img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0%;
        right: 0%;
        /* rotate: 20deg; */
    }

    #game-gallery .gallery.left .gallery-item:first-child{
        grid-row: span 2;
    }
    #game-gallery .gallery.right .gallery-item:nth-child(2){
        grid-row: span 2;
    }



/* Direction indicates text */
#text-bleed.left{
    display: grid;
    grid-template-columns: 70% 1fr;
    padding-right: 4em;
}

#text-bleed.right{
    display: grid;
    grid-template-columns: 1fr 70%;
}

#text-bleed{
    background-color: #140D1A;
    margin: 150px 0;
}

    #text-bleed .text-part{
        padding: 4em;
    }
            #text-bleed .image{
                position: relative;
            }

            #text-bleed .image img{
                width: 100%;
                height: 100%;
                position: absolute;
                object-fit: contain;
                top: 0%;
                left: 0%;
                scale: 1.4;
            }

#crk-image{
    padding: 2em;
    margin: 1em auto;
    max-width: 80%;
}

#crk-image img{
    max-height: 300px;
    margin: 0 0 0 auto;
    display: block;
}

#crk-extra{
    max-width: 65ch;
    margin: 6em auto;
}

#gi-eula{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

    #gi-eula .text-part{
        padding: 4em;
        margin: 8em 0;
    }

    #gi-eula .kazuha{
        width: 100%;
        height: 100px;
        border: 3px solid #D7573E;
    }

    #gi-eula .image .img-fit{
        object-fit: contain;
    }


#gi-ayaka{
    background-color: #140D1A;
    margin: 2em 0;
    padding: 2em 0;
}

#gi-ayaka .contents{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 80%;
    margin: 3em auto;
}

#gi-ayaka .image{
    scale: 1.5;
}



#gi-kokomi .main-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 80%;
    margin: 1em auto;
}

#gi-kokomi .main-content .text-part{
    margin: 4em 0;
}


#gi-kokomi .top-text{
    max-width: 70ch;
    margin: 1em auto;
}


#gi-pulls{
    margin: 2em 0;
}

    #gi-pulls .pulls {
    }

    #gi-pulls  .pull{
        margin: 3em 0;
        width: 100%;
    }
    #gi-pulls  .pull .paragraph{
        max-width: 75ch;
        margin: 0 auto;
    }

    #gi-pulls .pull-image{
        height: 200px;
    }
    #gi-pulls .pull:nth-child(2) .pull-image .img-fit:first-child{
        object-position: center 20%;
    }
    #gi-pulls .pull:nth-child(3) .pull-image .img-fit:first-child{
        object-position: center 30%;
    }

    #gi-pulls .pull-image .name{
        bottom:4px;
        right: 4px;
        width: 120px;
        height: auto;
    }
    #gi-pulls .pull .after-text{
        max-width: 60ch;
        margin:  2em auto;
    }
    #gi-pulls .pull-image .name.left{
        bottom:4px;
        left: 4px;
        width: 120px;
        height: auto;
    }

    #gi-pulls .fail-pull{
        display: grid;
        grid-template-columns: 1fr 60%;
        background-color: #140d1aa9;
    }

    #gi-pulls .fail-pull .heading-empha{
        font-size: 3rem;
    }
    #gi-pulls .fail-pull .text-part{
        margin: 2em 0;
    }

#gi-extra-pulls{
    margin: 200px 0;
}
#gi-extra-pulls .image{
    height: 140px;
    background-color: #140D1A;
    margin: 4em 0;

}

#gi-extra-pulls .image img{
    scale: 1.7;
}

#gi-extra-pulls .image-2 {
    height: 250px;
    max-width: 70%;
    outline: 2px solid white;
    margin: 1em auto;
}


#next-banner{
    margin: 1em 0;
}

    #next-banner .top-text{
        background-color: #34253e8a;
    }

    #next-banner .top-text .paragraph{
        max-width: 60ch;
        margin: 0 auto;
    }

    #next-banner .banner{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding:0 2em;
        gap: 2em;
    }
    #next-banner .banner .text-part{
        margin: 150px 0;
    }

#hutao-trans .text-part{
    margin: 4em 2em;
    /* background-color: rebeccapurple; */
    padding: 4em 0;
}

    #hutao-trans .text-part .paragraph{
        max-width: 80%;
        margin: 150px auto;
    }


#gi-finalword{
    max-width: 60%;
    margin: 0 auto;
}