/* Google Fonts 
    -Sacramento
    -Josefin Sans & Slab
*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,700;1,400&family=Josefin+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Sacramento&display=swap');

/* Styles that Persist across different pages */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

.container{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
main{
    padding-bottom: 200px;
}

:root{
    /* Fonts */
    --primaryFont:'Josefin Sans', sans-serif;
    --secondaryFont:'Josefin Slab', sans-serif;
    --altFont: 'Sacramento', cursive;


    /* Color */
    --lightPurple: #FFE8FB;
    --midPurple: #EFCEFF;
    --purple: #D7B7FF; 
    --saturatePurple: #B68CEB;
    --darkPurple: #786385;
    --darkerPurple: #6D4B83;
    --blue:#ABF0FF;
    --vanishBlue: #D1F7FF;
    --darkBlue:#6E8992;
    --maxWidth: 1400px;
}

body{
    background-color: var(--midPurple);
    font-family: var(--primaryFont);
    height: 100%;

    overflow-x: hidden;
}



p{
    color: var(--darkerPurple);
}

/* Navigation */
nav{
    font-family: var(--secondaryFont);
    /* background-color: red; */
    color: white;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: max(45px,3vh);
    
    padding: 0 .5em;

}

    nav .navigation{
        /* background-color: green; */
        height: 100%;
        display: flex;
        align-items: center;
        gap: .1em;

    }

        nav .navigation li{
            list-style-type: none;
            min-width: 5%;
            padding-left: 1em;
            position: relative;
        }
 
        nav .navigation li a{
            white-space: nowrap;
            color: white;
            padding: 1em;
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;
            font-family: var(--primaryFont);
            font-weight: bolder;
            text-transform: uppercase;
            text-shadow: 1px .1em 1px  #78638580;
            font-size: .8rem;
        }

        nav .navigation li a:hover{
            color: var(--blue);
            transition: all 250ms ease;
        }


        /* Sub Nav */
        nav .navigation li .sub-nav{
            visibility: hidden;
            opacity: 0;
            background-color:var(--darkPurple);
            border-radius: 1em;
            position: absolute;
            top: 40%;
            box-shadow: .1em .1em 0px 1px #78638549;

        }

        nav .navigation li .sub-nav i{
            min-width: 1.5rem;
        }
        
        nav .navigation li:hover .sub-nav{
            visibility: visible;
            opacity: 1;
            top: 100%;
            transition: all 350ms ease;
            
        }

    nav .line {
        border-bottom: 4px solid white;
        box-shadow: 1px .2em 0px -1px #78638549;
        
        height: 1px;
        width: 90%;
        margin: 0 1em;
        border-radius: 4em;
        flex-basis: 100%;

    }

    nav .action{
        /* background-color: rebeccapurple; */
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 2em;
        padding: 1em;
    }

.btn{
    padding: .4em 1em;
    cursor: pointer;
    border-radius: 1.3em;
    border: none;
    white-space: nowrap;
    font-weight: bold;
}

    .btn:hover{
       transform: scale(1.05);
       transition: all 250ms ease;
    }
    .btn:active{
        transform: scale(1);
        transition: all 250ms ease;
     }

.btn-cta{
    background-color: var(--blue);
    box-shadow: 0px .2em 0px -1px var(--darkPurple);
    color: var(--darkPurple);
}


.btn-arrow{
    padding: 1em;
    background-color: var(--saturatePurple);
    border-radius: 50%;
    aspect-ratio: 1/1;
    font-size: 2.2rem;
    padding: .4em;
    padding-top: .2em;
    color: var(--purple);
    border: min(3px, 5vh) solid var(--darkerPurple);
}


.page-hidden{
    display: none !important; 
}

.controls button{
    cursor: pointer;
}

.controls button:hover{
    transform: scale(1.2);
    transition: all 250ms ease;
}

.controls button:active{
    transform: scale(0.9);
    transition: all 250ms ease;
}

footer{
    position: relative;
    z-index: 200;
    height: max(500px, 50vh);
    background-color: var(--purple);
    border-top: 5px dashed white;

    display: flex;
    justify-content: start;
    padding-top: 4em;
    align-items: center;
    flex-direction: column;
}

    footer .web-name{
        font-size: min(6vw,3rem);
        color: var(--darkerPurple);
        text-shadow: -2px 2px #6d4b832d;
    }

    footer .maker{
        color: var(--saturatePurple);
        font-weight: 300;
    }


hr{
    height: 0;
    border: 2px solid white;
    margin: 1em 0;
}

.small-hr{
    max-width: 140px;
    border-radius: 2em;
}
