
body{
    min-height: 500vh;
    /* background-color: red; */
}

.grid-right{
    display: grid;
    grid-template-columns: 30% 1fr;
}

.grid-left{
    display: grid;
    grid-template-columns: 1fr 30%;
}

#title{
    /* background-color: rgba(0, 47, 255, 0.062); */
    /* min-height: 500px; */
    margin-top: 8vh;
    width: min(var(--maxWidth), 95%);
}

    #title .content{
        padding: 0 10% 0 10%;
        display: grid;
        grid-template-columns: 35% 1fr;
    }

    #title .image {
        padding: 1vw;
    }
    #title .image img{
        overflow: visible;
        display: block;
        aspect-ratio: 4/5;
        max-width: 100%;
        object-fit: cover;
        box-shadow: -6px 7px 0px rgba(0, 0, 0, 0.25);

    }

    #title .text-part{
        padding: 1em 3em;
        padding-top: 2em;
    }

        #title .text-part .pre-title{
            display: flex;
            justify-content: space-between;
            width: 97%;
            margin: 0 0 1em auto;
            padding: 1em 0;
            font-size: clamp(2px, 1.2rem, 1.2vw);

            font-weight: bold;
            font-style: italic;
        }

            #title .text-part .pre-title .stars{
                display: flex;
                gap: 5em;
                text-shadow: -1px 2px 0px rgba(0, 0, 0, 0.25);
            }

            #title .text-part .title{
                font-weight: lighter;
                font-size: clamp(10px, 5rem, 6vw);
                line-height: 100%;
                margin: .1em 0;
                white-space: nowrap;
                text-shadow: -2px 3px 0px rgba(0, 0, 0, 0.25);
            }

            #title .text-part .line{
                width: 40%;
                margin: 1.5em 0 1.5em auto;
                border-bottom: .2vw solid white;
            }

            #title .description{
                max-width: 65ch;
                font-size: clamp(4px, 1.3rem, 1.2vw);
                margin: 1em 0 1em auto;
                text-shadow: -1px 1px 0px rgba(0, 0, 0, 0.103);
                color: var(--darkerPurple);
            }

                #title .description .special{
                    font-size: clamp(10px, 2rem,2.3vw);
                    line-height: 80%;
                }

            #title .text-part .cta .btn{
                border-radius: 1vmin;
                min-width: 10vw;
                margin: .2em 0;
                font-size: 1.4rem;
                letter-spacing: 2px;
            }

            #title .text-part .cta > i{
                font-size: 1.2rem;
                margin: 0 1em;
            }

#intro, #hobby{
    /* background-color: green; */
    padding: 4em;
    margin-top: 20px;
}

    #intro .image img, #hobby .image img{
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    #intro .image, #hobby .image{
        width: 80%;
        height: fit-content;
        margin:  0 auto;
        box-shadow: -2px 4px 0px rgba(0, 0, 0, 0.25);
    }

    #intro .text-part .panel{
        height: 100%;
     
    }

    .text-part .btn{
        margin: 1em;
        font-size: 1.7rem;
        border-radius: .5vmin;
        padding: .5em 3em;
    }

    .panel .legend{
        background-color: white;
        border-radius: .5em;
        position: absolute;
        padding: .4em 4em 0 1em;
        top: -1.2em;
        left: 1em;
        font-family: var(--secondaryFont);
        font-size: min(1.4rem, 1.4vw);
        box-shadow: -2px 2px 0px rgba(0, 0, 0, 0.25);
        color: var(--darkerPurple);
    }

    .text-part .panel{
        padding: 2em 2em;
        font-size: min(1.4rem, 2.3vw);
        box-shadow: -2px 4px 0px rgba(0, 0, 0, 0.25);
        position: relative;
    }
    
    #intro .text-part .panel{
        padding: 3em;
    }

    .panel p{
        color: white;
        font-family: var(--secondaryFont);
    }

    .panel p:not(:last-child){
        margin-bottom: 2em;
    }
    
    .section-title{
        background-color:  var(--purple);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: min(4px, .3vw) solid white;
        border-radius: 1em;
        box-shadow: -2px 4px 0px rgba(0, 0, 0, 0.25);
        max-width: 70%;
        margin:  2em 2em 2em auto;
    }

        .section-title h2{
            margin: .3em .6em;
            white-space: nowrap;
        }

        .section-title .line{
            width: 100%;
            margin: 1em;
            border-bottom: min(4px, .4vh) solid white;
            border-radius: 1em;

        }

        .section-title .line:nth-child(1), #hobby .section-title .line:nth-child(2){
            width: 30%;
        }

#hobby{
    position:relative;
}
    #hobby .image{
        height: 100%;
        padding: .3em;
        box-shadow: none;
        /* background-color: green; */
        position: relative;
    }
    #hobby .fixed{
        top: 1em;
        left: 0;
        position: sticky;
        box-shadow: -3px 5px 0px rgba(0, 0, 0, 0.25);

    }
    #hobby .text-part{
        padding-top: 3em;
    }

    #hobby .section-title{
        margin-left:  0 ;
    }

    #hobby .panel:nth-child(2){
        margin-top: 3em;
    }

    #hobby .btn-cta{
        display: block;
        margin-left: auto;
        margin-right: 0;
    }


#family{

    background-size: 200%;
    min-height: 250vh;
    position: relative;
}

/* Background */
#family::before{
    content: "";
    position:absolute;
    height: 100%;
    width: 100%;
    z-index: -50;
    opacity: .95;
    background: url('../media/image/background/plaid.webp'), #FFE8FB;
    background-blend-mode: overlay, normal;
    background-size: 250vmin;
    mix-blend-mode: overlay;
}

    #family h2{
        white-space: nowrap;
        text-indent: -.3rem;
        color: var(--darkerPurple);
    }

    #family p{
        color: var(--saturatePurple);
    }

    #family .general{
        /* background-color: green; */
        padding-top: 200px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* max-height: 500px; */
    }

        #family .general .text-part h2{
            font-size: 4rem;
        }

        #family .general .text-part{
            padding: 1em 2.5em;
            justify-self: end;
            align-self: center;
        }

        #family .general .text-part p{
            max-width: 40ch;
        }

        #family .general .image{
            /* background-color: red; */
            padding: 3em;
        }

        #family .general .image img{
            display: block;
            width: min(400px, 40vw);
        }


        #family .members {
            position: relative;
        }

        #family .members .controls{
            /* background-color: red; */
            position: absolute;
            top: 50%;
            left: 50%;
            width:100%;
            transform: translate(-50%,-50%);
            display: flex;
            justify-content: space-between;
            padding: 0 2vw;
        }

        #family .members .controls button{
            padding: 1em;
            background-color: var(--saturatePurple);
            border-radius: 50%;
            aspect-ratio: 1/1;
            font-size: 2.2rem;
            padding: .4em;
            padding-top: .2em;
            color: var(--purple);
            border: 2px solid var(--darkerPurple);
        }



        #family .member{
            /* background-color: red; */
            display: grid;
            grid-template-columns: 1fr 1fr;
            max-width: min(1000px, 100%);
            margin: 0 auto;

            min-height: 700px;
        }
            
            #family .member .image{
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            #family .member img{
                max-width: 250px;
            }

            #family .member .member-detail{
                color: #D2C4D8;
            }
            #family .member .member-name{
                text-shadow: -2px 1px 0px rgba(0, 0, 0, 0.25);
                font-size: 2rem;
                margin-top: 1em;
            }
            #family .member .line{
                margin: .4em 0;
                width: 50%;
                border-bottom: min(4px, 3vh) solid var(--darkerPurple);
                border-radius: 1em;
            }

            #family .member .text-part{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 1em ;
                margin-top: 1em;
            }

            #family .member .text-part p{
                font-size: 1.2rem;
                max-width: 35ch;
                margin-bottom: 1em ;
            }
       