
body{
    /* min-height: 1500vh; */
    /* background-color: red; */
}

.grid-right{
    display: grid;
    grid-template-columns: 30% 1fr;
}

.grid-left{
    display: grid;
    grid-template-columns: 1fr 30%;
}

#title{
    /* background-color: rgba(0, 47, 255, 0.062); */
    /* min-height: 500px; */
    margin-top: 8vh;
    width: min(var(--maxWidth), 95%);
}

    #title .content{
        padding: 0 10% 0 10%;
        display: grid;
        grid-template-columns: 35% 1fr;
    }

    #title .image {
        padding: 1vw;
    }
    #title .image img{
        overflow: visible;
        display: block;
        aspect-ratio: 4/5;
        max-width: 100%;
        object-fit: cover;
        box-shadow: -6px 7px 0px rgba(0, 0, 0, 0.25);

    }

    #title .text-part{
        padding: 1em 3em;
        padding-top: 2em;
    }

        #title .text-part .pre-title{
            display: flex;
            justify-content: space-between;
            width: 97%;
            margin: 0 0 1em auto;
            padding: 1em 0;
            font-size: clamp(2px, 1.2rem, 1.2vw);

            font-weight: bold;
            font-style: italic;
        }

            #title .text-part .pre-title .stars{
                display: flex;
                gap: 5em;
                text-shadow: -1px 2px 0px rgba(0, 0, 0, 0.25);
            }

            #title .text-part .title{
                font-weight: lighter;
                font-size: clamp(10px, 5rem, 6vw);
                line-height: 100%;
                margin: .1em 0;
                white-space: nowrap;
                text-shadow: -2px 3px 0px rgba(0, 0, 0, 0.25);
            }

            #title .text-part .line{
                width: 40%;
                margin: 1.5em 0 1.5em auto;
                border-bottom: .2vw solid white;
            }

            #title .description{
                max-width: 65ch;
                font-size: clamp(4px, 1.3rem, 1.2vw);
                margin: 1em 0 1em auto;
                text-shadow: -1px 1px 0px rgba(0, 0, 0, 0.103);
                color: var(--darkerPurple);
            }

                #title .description .special{
                    font-size: clamp(10px, 2rem,2.3vw);
                    line-height: 80%;
                }

            #title .text-part .cta .btn{
                border-radius: 1vmin;
                min-width: 10vw;
                margin: .2em 0;
                font-size: 1.4rem;
                letter-spacing: 2px;
            }

            #title .text-part .cta > i{
                font-size: 1.2rem;
                margin: 0 1em;
            }

            #title .text-part .cta{
                position: relative;
            }
            #title .text-part .cta .pointer{
                position: absolute;
                transform: translate(-95%, 5%);
                width:min(1200px,70vw);
                top: 20px;
            }

#intro, #hobby{
    /* background-color: green; */
    padding: 4em;
}

    #intro {
        margin-top: 150px;
    }

    #intro .image img, #hobby .image img{
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    #intro .image, #hobby .image{
        width: 80%;
        height: fit-content;
        margin:  0 auto;
        box-shadow: -2px 4px 0px rgba(0, 0, 0, 0.25);
    }

    #intro .text-part .panel{
        height: 100%;
     
    }

    #intro .text-part .panel{
        rotate: -1deg;
     
    }
    
    #intro .image{
        rotate: 1deg;
     
    }

    .text-part .btn{
        margin: 1em;
        font-size: 1.7rem;
        border-radius: .5vmin;
        padding: .5em 3em;
    }

    .panel .legend{
        background-color: white;
        border-radius: .5em;
        position: absolute;
        padding: .4em 4em 0 1em;
        top: -1.2em;
        left: 1em;
        font-family: var(--secondaryFont);
        font-size: min(1.4rem, 1.4vw);
        box-shadow: -2px 2px 0px rgba(0, 0, 0, 0.25);
        color: var(--darkerPurple);
    }

    .text-part .panel{
        padding: 2em 2em;
        font-size: min(1.4rem, 2.3vw);
        box-shadow: -2px 4px 0px rgba(0, 0, 0, 0.25);
        position: relative;
    }
    
    #intro .text-part .panel,#friend .panel{
        padding: 3em;
    }

    .panel p{
        color: white;
        font-family: var(--secondaryFont);
    }

    .panel p:not(:last-child){
        margin-bottom: 2em;
    }
    
   
    .section-title{
        background-color:  var(--purple);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: min(4px, .3vw) solid white;
        border-radius: 2em;
        box-shadow: -2px 4px 0px rgba(0, 0, 0, 0.25);
        max-width: 70%;
        margin:  2em 2em 2em auto;
    }

        .section-title h2{
            margin: .3em .6em;
            white-space: nowrap;
        }

        .section-title .line{
            width: 100%;
            margin: 1em;
            border-bottom: min(4px, .4vh) solid white;
            border-radius: 1em;

        }

        .section-title .line:nth-child(1), #hobby .section-title .line:nth-child(2){
            width: 30%;
        }

    #intro .pointer2{
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(130%,80%);
        scale: .9;
    }

#hobby{
    position:relative;
}
    #hobby .image{
        height: 100%;
        padding: .3em;
        box-shadow: none;
        /* background-color: green; */
        position: relative;
    }
    #hobby .fixed{
        top: 1em;
        left: 0;
        position: sticky;
        box-shadow: -3px 5px 0px rgba(0, 0, 0, 0.25);

    }
    #hobby .text-part{
        padding-top: 3em;
    }

    #hobby .section-title{
        margin-left:  0 ;
    }

    #hobby .panel:nth-child(2){
        margin-top: 3em;
    }

    #hobby .btn-cta{
        display: block;
        margin-left: auto;
        margin-right: 0;
    }

    #hobby .section-title{
        rotate: -0.9deg;
    }

    #hobby .panel:nth-child(1){
        rotate: 0.6deg;
    }
    #hobby .sekon{
        rotate: -0.9deg;
    }

    #hobby .pointer3{
        margin: .3em 0 .3em auto;
        display: block;
        scale: .7;
    }


#family{

    background-size: 200%;
    /* min-height: 250vh; */
    position: relative;
    padding-bottom: 300px;
}

/* Background */
#family::before{
    content: "";
    position:absolute;
    height: 100%;
    width: 100%;
    z-index: -50;
    opacity: .95;
    background: url('../media/image/background/plaid.webp'), #FFE8FB;
    background-blend-mode: overlay, normal;
    background-size: 250vmin;
    mix-blend-mode: overlay;
}

    #family h2{
        white-space: nowrap;
        text-indent: -.3rem;
        color: var(--darkerPurple);
    }

    #family p{
        color: var(--saturatePurple);
    }

    #family .general{
        /* background-color: green; */
        padding-top: 200px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* max-height: 500px; */
    }

        #family .general .text-part h2{
            font-size: 4rem;
        }

        #family .general .text-part{
            padding: 1em 2.5em;
            justify-self: end;
            align-self: center;
        }

        #family .general .text-part p{
            max-width: 40ch;
        }

        #family .general .image{
            /* background-color: red; */
            padding: 3em;
        }

        #family .general .image img{
            display: block;
            width: min(400px, 40vw);
        }


        #family .members {
            position: relative;
        }

        #family .members .controls{
            /* background-color: red; */
            position: absolute;
            top: 50%;
            left: 50%;
            width: 85%;
            transform: translate(-50%,-50%);
            display: flex;
            justify-content: space-between;
            padding: 0 2vw;
        }



        #family .member{
            /* background-color: red; */
            display: grid;
            grid-template-columns: 48% 1fr;
            max-width: min(1000px, 100%);
            margin: 0 auto;

            min-height: 700px;
        }
            
            #family .member .image{
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            #family .member img{
                max-width: 250px;
            }

            #family .member .member-detail{
                color: #D2C4D8;
            }
            #family .member .member-name{
                text-shadow: -2px 1px 0px rgba(0, 0, 0, 0.25);
                font-size: 2rem;
                margin-top: 1em;
            }
            #family .member .line{
                margin: .4em 0;
                width: 50%;
                border-bottom: min(4px, 3vh) solid var(--darkerPurple);
                border-radius: 1em;
            }

            #family .member .text-part{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 1em ;
                margin-top: 1em;
            }

            #family .member .text-part p{
                font-size: 1.2rem;
                max-width: 35ch;
                margin-bottom: 1em ;
            }



#friend{

}

    #friend .section-header{

        padding: 1em;
        border-bottom: 5px solid var(--purple);
        position: relative;
    }

   

    #friend .section-header::before{
        content: "";
        top: 0;
        left: 0;
        position: absolute;

        width: 100%;
        height: 100%;
        /* background-color: red; */
        background: url("../media/image/background/plaid.webp");
        /* mix-blend-mode: difference; */
        background-size: 80vmin;
        pointer-events: none;
        opacity: .4;
    }

    #friend .section-header h2{
        font-size: 3rem;
        text-align: right;
        text-decoration: underline;
        font-weight: 700;
        letter-spacing: -0.06em;
        
        color: var(--darkerPurple); 
        
        filter: drop-shadow(2px 2px white);

    }
   
    @media screen and (min-width: 1400px){
        #friend .section-header h2{
            text-align: center;
        }
    }

    #friend .friend-content{
        /* min-height: 250vh; */
        background: url("../media/image/background/bg.png");
        background-size: 25vmin;
        padding: 3em 0;
        background-blend-mode: lighten;
        min-height: 800px;
    }

        #friend .friend-content .flex-col-center:first-child{
            align-items: flex-end;
        }
        #friend .friend-content .flex-col-center:last-child{
            align-items: flex-start;
            gap: 3em;
        }

        #friend .friend-select{
            padding: 1em 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 4em;
            max-width: calc(var(--maxWidth) - 20%);
            margin: 0 auto;
        }

        #friend .select-menu img{
            max-width: 225px;
            
        }

        #friend .select-items{
            padding: 2em;
         
            display: grid;
            grid-template-columns: 60px 1fr;
            gap:1em;
            justify-items: end;
            position: relative;
            margin: 0 auto;
            max-width: var(--maxWidth);

        }

        #friend .select-items .btn-arrow{
            margin-right: auto;
            display: block;
        }

        #friend .select-item{
            display: grid;
            grid-template-columns: 1fr min(35vw, 450px);
            justify-items: center;
            margin: 0 auto;
        }

        #friend .select-item img{
            width: min(350px, 70%);
        }

        #friend .select-open{
           cursor: pointer;
           transition: all 250ms ease;
        }
        #friend .select-open:hover{
            transform: scale(1.2);
            transition: all 450ms ease;
            filter: brightness(70%);
        }

        #friend .panel {
            outline: none;
            border: 4px dashed var(--darkerPurple);
        }

        #friend .panel .legend{
            font-size: 2.5rem;
            font-weight: bold;
            padding-top: .2em;
            top: -1em;
        }

       

#picture{

}   
    #picture .section-title{
        max-width: 50%;
        margin: 2em auto;
        border-radius: 2em;
        height: 80%;
    }

    #picture .image{
        width: 40%;
        height: 40%;
    }

    #picture .btn-cta{
        border-radius: .5em;
        outline: 2px solid white ;
        color: var(--darkBlue);
        box-shadow: 0 .3em 0px 1px #78638549;
        margin-top: 1em;
        margin-bottom: 2em;
        background-color: var(--vanishBlue);
    }

    #cat{
        min-height: 200px;
        /* background-color: green; */
        background-image: url("../media/image/background/plaid-2.png");
        box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25); 
        background-size: 25vmin;
        position: relative;
        z-index: -100;
    }

        #cat img{
            position: absolute;
            display: block;
            top: 100%;
            left: 50%;
        }

        #cat .head{
            transform: translate(-50%, -50%);
            width: 800px;
            top: 70%;
            transform-origin: center center;
            animation: cat-head 4050ms ease infinite;
        }

        #cat .paw{
            width: 170px;
            transform: translate(-50%, -100%);
            z-index: -50;
        }

            #cat .l-paw{
                top: 220%;
                left: calc(50% - 450px);
                rotate: 0deg;

                animation: l-paw 7000ms ease infinite;
            }


            #cat .r-paw{
                top: 220%;
                left: calc(50% + 450px);
                rotate: 0deg;
                animation: r-paw 7500ms ease infinite;
            }

        @keyframes cat-head {
            0% {
                scale:.9;
                rotate: -4deg;
            }
            60%{
                scale:.94;
                rotate: 0deg;
            }
            100%{
                scale: .9;
                rotate: -4deg;
            }
            
        }

        @keyframes l-paw {
            0%{
              top: 210%;
              left: calc(50% - 550px);
              rotate: 20deg;

            }
            33%{
                top: 235%;
                left: calc(50% - 450px);

                rotate: 20deg;
            }
            50%{
                top: 205%;
               left: calc(50% - 300px);

            }
            84%{
                top: 210%;
                left: calc(50% - 300px);
                rotate: -10deg;


            }
            100%{
                top: 210%;
                left: calc(50% - 550px);
                rotate: 20deg;

            }
            
        }

        @keyframes r-paw {
            0%{
              top: 140%;
              left: calc(50% + 450px);
              rotate: -10deg;

            }
            33%{
                top: 155%;
                left: calc(50% + 650px);

                rotate: -40deg;
            }
            50%{
                top: 165%;
               left: calc(50% + 450px);
               rotate: -12deg;

            }
            84%{
                top: 160%;
                left: calc(50% + 550px);
                /* rotate: -10deg; */
                rotate: -20deg;



            }
            100%{
                top: 140%;
                left: calc(50% + 450px);
                rotate: -10deg; 
            }
            
        }


        .bg-decor{
            opacity: 0;
            position:absolute;
            top: 0%;
            left: 0;
            width: 100vw;
            height: 0%;
            overflow: visible;
            z-index: -50;
            transition: opacity 500ms ease;

        }

@media screen and (max-width:2500px) {
    .bg-decor{
        opacity: 1;
        transition:  opacity 500ms ease;
    }
        .bg-decor > *{
            position: absolute;
            z-index: -10;
            pointer-events: none;
            transform: translate(-50%,-50%);
        }
        .bg-decor .circle{
            border-radius: 50%;
            aspect-ratio: 1/1;
    
        }
    
        .bg-decor .first{
            top: 0%;
            left: calc(50vw - 550px);
            width: 1500px;
            background-color: var(--purple);
            z-index: -200;
            
        }
    
        .bg-decor .second{
            top: 1000px;
            left: calc(50vw + 1050px);
            width: 1200px;
            background-color: #FFE8FB;
            z-index: -200;
            
        }
        .bg-decor .third{
            top: 1300px;
            left: calc(50vw - 850px);
            width: 1500px;
            background-color: #FFE8FB;
            z-index: -200;
            
        }
        .bg-decor .forth{
            top: 2000px;
            left: calc(50vw + 750px);
            width: 1200px;
            background-color: #D3ABEC;
            z-index: -250;
            
        }
    
}