body{
    background: url('../media/image/background/stars-bg.png');
    background-size: 20vmin 20vmin;
}

.planet-header{
    position: absolute;
    transform: translate(-50%,-40%);
    width: 800px;
    top: 0px;
    left: 50%;
    z-index: -200;
}

.planet{
    /* background-color: rebeccapurple; */
    text-align: center;
    color: var(--blue);
    font-size: 2.5rem;
    line-height: 170%;
    padding-top: 60px;
}

.planet h1{
    -webkit-text-stroke: 2px white;
    text-stroke: 2px white;

}
.planet h1:nth-child(3){
    mix-blend-mode:lighten;
    opacity: .3;
}
.planet h1:nth-child(4){
    color: transparent;
    mix-blend-mode: color-dodge;
    opacity: .1;
}