/* Specific classes for styling that might need to be overwritten */

.ft-primary{
    font-family: var(--primaryFont);
}

.ft-secondary{
    font-family: var(--secondaryFont);
}

.ft-alt{
    font-family: var(--altFont);
}

.ft-initial{
    font-family: initial;
}
.cr-blue{
    color: var(--blue);
}

.cr-white{
    color: white;
}

.confine{
    max-width: var(--maxWidth);
    margin: 0 auto;
}


.ta-left{
    text-align: left;

}

.ta-center{
    text-align: center;

}

.ta-justify{
    text-align: justify;

}


.ta-right{
    text-align: right;
}


.br-small{
    border-radius: 1em;
}


.ol-white{
    outline: min(4px,.65vh) solid white;
}

.ol-purple{
    outline: min(4px, .65vh) solid var(--darkerPurple);
}

.bg-purple{
    background-color: var(--purple);
}

.wave-end{
    position: absolute;
    top: -1px;
    /* background-color: green; */

}

.relative{
    position: relative;
}