/* Specific classes for styling that might need to be overwritten */

.ft-primary{
    font-family: var(--primaryFont);
}

.ft-secondary{
    font-family: var(--secondaryFont);
}

.ft-alt{
    font-family: var(--altFont);
}

.ft-initial{
    font-family: initial;
}
.cr-blue{
    color: var(--blue);
}

.cr-white{
    color: white;
}

.confine{
    max-width: var(--maxWidth);
    margin: 0 auto;
}


.ta-left{
    text-align: left;

}

.ta-center{
    text-align: center;

}

.ta-justify{
    text-align: justify;

}


.ta-right{
    text-align: right;
}


.br-small{
    border-radius: 1em;
}


.ol-white{
    outline: min(4px,.65vh) solid white;
}

.ol-purple{
    outline: min(4px, .65vh) solid var(--darkerPurple);
}

.bg-purple{
    background-color: var(--purple);
}

.wave-end{
    position: absolute;
    top: -2px;
    /* background-color: green; */

}

.no-height{
    height: 0;
}

.wave-start{
    position: absolute;
    pointer-events: none;
    bottom: -10px;
    /* max-height: 200px; */
    /* background-color: green; */
    
    z-index: -20;
    /* background-color: green; */
}

@media screen and (min-width:1800px) {
    .wave-start{
        transform: scaleY(.2) translateY(200%);
    }

    .wave-end{
        transform: scaleY(.3) translateY(-120%);
    }
    
}
.relative{
    position: relative;
}


.flex-col-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hidden{
    display: none !important;
}