/* Specific classes for styling that might need to be overwritten */

.ft-primary{
    font-family: var(--primaryFont);
}

.ft-secondary{
    font-family: var(--secondaryFont);
}

.ft-alt{
    font-family: var(--altFont);
}

.ft-initial{
    font-family: initial;
}
.cr-blue{
    color: var(--blue);
}

.cr-white{
    color: white;
}

.cr-darkerPurple{
    color: var(--darkerPurple);
}
.cr-lightYellow{
    color: #FFE9BF;
}

.cr-velvet{
    color: #BF3B57;
}

.cr-pink{
    color: #EF87CC;
}

.cr-maple{
    color: #D7573E;
}

.td-underline{
    text-decoration: underline;
}

.bold{
    font-weight: bold;
}
.light{
    font-weight: 300;
}


.italic{
    font-style: italic;
}
.confine{
    max-width: var(--maxWidth);
    margin: 0 auto;
}


.ta-left{
    text-align: left;

}

.ta-center{
    text-align: center;

}

.ta-justify{
    text-align: justify;

}


.ta-right{
    text-align: right;
}


.br-small{
    border-radius: 1em;
}


.ol-white{
    outline: min(4px,.65vh) solid white;
}

.ol-purple{
    outline: min(4px, .65vh) solid var(--darkerPurple);
}

.bg-purple{
    background-color: var(--purple);
}

.wave-end{
    position: absolute;
    top: -2px;
    /* background-color: green; */

}

.no-height{
    height: 0;
}

.nowrap{
    white-space: nowrap;
}

.wave-start{
    position: absolute;
    pointer-events: none;
    bottom: -10px;
    /* max-height: 200px; */
    /* background-color: green; */
    
    z-index: -20;
    /* background-color: green; */
}

@media screen and (min-width:1800px) {
    .wave-start{
        transform: scaleY(.2) translateY(200%);
    }

    .wave-end{
        transform: scaleY(.3) translateY(-120%);
    }
    
}
.relative{
    position: relative;
}


.flex-col-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hidden{
    display: none !important;
}


.mg-center{
    margin: 0 auto;
}

.block{
    display: block;
}

.img-fit{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.fit-contain{
    object-fit: contain;
}

.fit-pos{
    top: 0;
    left: 0;
}